body {
	background-image: url(white-curls.png);
	background-attachment: fixed;
	color: #4d2600;
	font-family: comic sans ms;
	font-size: 16pt;
	}
	
#col11 {
    width: 15%;
	background-image: url(Winx-bloom-enchantix.png); /* Цвет фона первой ячейки */
	background-clip: padding-box;
	background-size: auto 200px;
	background-repeat: no-repeat;
   }
 #col1 {
    width: 15%;
   }

#col2 {
    width: 70%;
	}
#col13 {
    width: 15%;
	background-image: url("book-and-coffee.png");/* Цвет фона третей ячейки */
	background-size: auto 200px;
	background-repeat: no-repeat;
	}
#col3 {
    width: 15%;
	}

.top-nav a {	
	color: #993300;
	font-size: 35px; 
	text-decoration: none;/* Убирает подчеркивание для ссылок */
	}

.top-nav a:hover {
	color: #e64d00;
	}
	
.content-line {
	background: url(Border-dividers-line.png);
	background-size: auto 50px;
	background-repeat: no-repeat;
}
	

.title {
	color: #662200;
	font-family: matura mt script capitals;
	font-size:350%;
	margin: 10px 0px 15px;
	word-spacing: 10px; /*Задает расстояние между словами*/
	letter-spacing: 5px; /*Задает расстояние между буквами*/
}
.image-list {
	width:100px;
	height:100px; 
	margin: 10px;
}

.image-content {
	width:auto;
	height:250px; 
}

#p1 {
	color: #e64d00;
	font-family: mv boli;
	font-size: large;
	font-style: italic;
	text-align: center;
}

.ul_1 {
	padding: 0; /* Убираем поля */
    margin-left: 10px; /* Отступ слева */
}

.li_1 {
    list-style-type: none; /* Прячем исходные маркеры */
}
.li_1:before {
    color: #e64d00; /* Цвет маркера */
    content: "٧"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
}

#container {
  display: flex;
  margin: 20px;
}
